{
    "presets": [
        "es2015", "stage-2"
    ],
    "plugins": [
        "transform-object-rest-spread",
        [
            "module-resolver",
            {
                "alias": {
                    "database": "./modules/fantasta_core/database",
                    "routes": "./modules/fantasta_core/routes",
                    "utils": "./modules/fantasta_core/utils",
                    "socket": "./modules/fantasta_core/socket"
                }
            }
        ]
    ]
}
