registry=https://pkgs.dev.azure.com/pinkal2019/_packaging/pinkal2019/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 25/12/2019.
; begin auth token
//pkgs.dev.azure.com/pinkal2019/_packaging/pinkal2019/npm/registry/:username=pinkal2019
//pkgs.dev.azure.com/pinkal2019/_packaging/pinkal2019/npm/registry/:_password=a2M0eHBqZWJnZmc1M3NwNXlrdHR1bGtpNmVmeDV4anllc3l5ZDdwZmNtNmEzcGwzb2NvYQ==
//pkgs.dev.azure.com/pinkal2019/_packaging/pinkal2019/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/pinkal2019/_packaging/pinkal2019/npm/:username=pinkal2019
//pkgs.dev.azure.com/pinkal2019/_packaging/pinkal2019/npm/:_password=a2M0eHBqZWJnZmc1M3NwNXlrdHR1bGtpNmVmeDV4anllc3l5ZDdwZmNtNmEzcGwzb2NvYQ==
//pkgs.dev.azure.com/pinkal2019/_packaging/pinkal2019/npm/:email=npm requires email to be set but doesn't use the value
; end auth token